* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* Dark Mode - Source: https://www.youtube.com/watch?v=9LZGB3OLXNQ */
  :root{
    --primary-color: #000;
    --secondary-color: #fff;
    --primary-bg: url('../images/bg_day.png');
  }
  .dark-theme{
    --primary-color: #fff;
    --secondary-color: #000;
    --primary-bg: url('../images/bg_night.png')

  }
  
  body {
    font-family: 'Helvetica Neue', sans-serif;
    background-image: var(--primary-bg);
    background-size: cover;
    background-position: top center;
  }
  #main-header {
    width: 100%;
  }
  .containerdiv {
    padding: 10px;
    margin: 0 auto;
  }
  .main-container {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    text-align: start;
    padding: 50px;
    background-color: aliceblue;
  }
  .introduction {
    display: block; 
  }
  aside img {
    width: 100%;
  }
  aside p {
    grid-column: 1/3;
  }
ul, ol {
  padding-left: 20px;
  }  
  .home-page-list li {
    font-size: 25px;
    list-style: none;
    padding-top: 8px;
  }
  .home-page-list li a{
      text-decoration: none;
     
  }
  .about-me-h2, h1  {
    text-align: center;
    font-size: 5em;
    padding-top: 35px;
  }
  .prof {
    text-align: center;
  }
 
  header {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;

  }
   #main-header {
    display: grid;
    background-color: aqua;
   }
  #icon {
    margin-top: 5px;
    cursor: pointer;
    position: relative; left: 320px;
  }
 p {
  border: 10px solid transparent;
  padding: 10px;
 
 }
h1, h2,h3,h4 {
  background-color: aqua;
  padding: 10px;
  color: blue;
}
h1,h2 {
  width: 100%;
}
section {
  background-color: aliceblue;
}
/* banner info */
  #banner {
    display: none;
    text-align: center;
    background: lightblue;
    padding: 10px;
    font-size: .9rem;
    font-weight: bold;
    border-top : 5px dashed black;
    border-bottom : 5px dashed black;
    line-height: .9;
  }

  #close {
    padding: 2px;
    background-color: #000;
  }
  header input {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    color: black;
    font-size: 16px;
    font-weight: 100;
    transition: 0.2s ease-out;
  }
  header input::placeholder{
    color: black;
  }
  
  header input:focus {
    background-color: white;
  }
  
  main {
    padding-left: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }
  
  .location .city {
    color: #000;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 5px;
  }
  
  .location .date {
    color: #000;
    font-size: 16px;
  }
  
  .current .temp {
    color: #FFF;
    font-size: 52px;
    font-weight: 300;
    margin: 30px 0px;
    text-shadow: 2px 5px rgba(0, 0, 0, 0.6);
  }
  
  .current .temp span {
    font-weight: 150;
  }
  
  .current .weather {
    color: var(--primary-color);
    font: size 16px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.1);
  }
  
  .current .hi-low {
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 200;
    text-shadow: 0px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
  }


/* Drop Down Accordion */

  
.fiveDay p {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
  .fiveDay .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .fiveDay label {
    display: block;
    padding: 20px 70px;
    font-size: 1.25rem;
    margin: 0 0 1px 0;
    cursor: pointer;
    background-color: rgba(93, 92, 92, 0.679);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #DF8E00;
    color: white;
    transition: ease 0.5s;
    text-align: center;
  }

/* label hover color change */
  .fiveDay label:hover {
    background: white;
    color:#000;
  }

  .fiveDay .content {
    background: #c89f70;
    padding: 10px 25px;
    border: 1px solid #a7a7a7;
    margin: 0 0 1px 0;
    border-radius: 3px;
    text-align: center;
    color: #000;
  }

  .fiveDay input + label + .content {
    display: none;
  }

  .fiveDay input:checked + label + .content {
    display: block;
  }

  .fiveDay input[type="checkbox"]  {
    display: none;
  }
  

/* 5 Day Forecast */
  .fiveDayForecast {
    max-height: calc(100vh - 28rem);
    height: 50rem;
    overflow-y: auto;
    padding: .5rem;
  }

  hr {
    height: 1px;
    background-color: black;
    border: none;
  }

  .fiveDayForecast .forecast {
    height: initial;
    overflow: auto;
  }

  .multiDay {
    margin-top: 1rem;
  }

  .multiDay * {
    font-size: 1.25rem;
  }


/* GRID LAYOUT */
  .multiDay li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-top: .75rem;
  }
  
  .fiveDayForecast .temp {
    justify-self: end;
  }

  .lo {
    color: gray;
  }

  .lo::before {
    content: ' ';
  }

  .lo::after, .hi::after, .todays-forecast {
    content: '°';
  }
  footer {
    background-color: aqua;
    height: 50px;
    text-align: center;
    padding-top: 25px;
    color: blue;
  }
  @media only screen and (min-width: 35rem) {
 .introduction {
  display: grid;
  grid-template-columns: 250px 3fr;
 }
 ul, ol {
  padding-left: 50px;
  }  
  header {
    padding: 50px 15px 15px;
  }
 header-input {
  width: 100%;
  max-width: 280px;
  font-weight: 300;
 }
 main {
  padding: 25px 25px 50px;
  flex: 1 1 100%;

 }
 .location .city {
  font-size: 32px;
  font-weight: 500;
 }

 .current .temp{
  font-size: 102px;
  font-weight: 900;
 }
 .current .temp span {
  font-weight: 500;
 }
 .current .weather {
  font-size: 32px;
  font-weight: 700;
 }
 current .hi-low {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 500;
 }
  }